body {
    background: linear-gradient(white, rgb(3, 103, 143)
    );
  }
  
  header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #2da9e2;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #23a3df;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #12a812;
    font-weight: bold;
    margin-left: -5px;
  }
  
  .newpostlink {
    padding: 10px;
    background: rgb(0, 255, 98);
    text-align: center;
    width: 100px;
    border-radius: 10px;
  }
  .newpostlink:hover {
    box-shadow: 0px 0px 7px 7px white;
  }
  
  a {
    text-decoration: none; 
    color: rgb(102, 7, 7);
   }
   a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  main {
    background: rgb(5, 108, 139);
    border: 2px solid rgb(2, 100, 146);
    padding: 20px;
  }
   main>div>div {
     text-align: center;
     background: white;
    border: 2px solid red;
    padding: 20px;
   }
  
   .divcontainer {
     padding: 10px;
   }
  
   #submit {
     margin-top: 20px;
    background-color: rgb(3, 134, 128); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
   }
   #submit:hover {
     cursor: pointer;
     color: black;
     background: rgb(99, 65, 3);
   }